---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import BannerTrabajos from "../components/BannerTrabajos.astro";
import ServiciosLanding from "../components/ServiciosLanding.astro";
import Dudas from "../components/Dudas.astro";
import ExtrasLanding from "../components/ExtrasLanding.astro";
---

<Layout title="Uncoder Diseño Web">
	<main class="main relative z-40">
		
		<Hero />
		<BannerTrabajos />
		<ServiciosLanding />
		<Dudas />
		<ExtrasLanding />

		<!-- <svg
			class="absolute z-10 top-0 left-[0%] w-[100%] aspect-square blur-sm"
			width="1404"
			height="1253"
			viewBox="0 0 1404 1253"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
		>
			<g opacity="1" filter="url(#filter0_f_74_189)">
				<path
					d="M1738.67 209.38C1742.26 319.642 1720.44 429.252 1674.89 529.732C1629.35 630.211 1561.3 718.868 1476.01 788.843C1390.73 858.819 1290.49 908.238 1183.05 933.279C1075.6 958.319 963.844 958.31 856.407 933.251C748.971 908.192 648.739 858.755 563.464 788.765C478.188 718.774 410.156 630.106 364.628 529.618C319.1 429.131 297.298 319.517 300.907 209.256C304.516 98.9951 333.44 -8.95808 385.442 -106.253L1019.79 232.787L1738.67 209.38Z"
					fill="#883BFF"></path>
			</g>
			<defs>
				<filter
					id="filter0_f_74_189"
					x="0.521851"
					y="-406.253"
					width="2038.53"
					height="1658.31"
					filterUnits="userSpaceOnUse"
					color-interpolation-filters="sRGB"
				>
					<feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
					<feBlend
						mode="normal"
						in="SourceGraphic"
						in2="BackgroundImageFix"
						result="shape"></feBlend>
					<feGaussianBlur
						stdDeviation="150"
						result="effect1_foregroundBlur_74_189"></feGaussianBlur>
					<feTurbulence
						id="turbulence"
						type="turbulence"
						numOctaves="1"
						result="NOISE"></feTurbulence>
					<feDisplacementMap in="SourceGraphic" in2="NOISE" scale="50"
					></feDisplacementMap>
					<animate
						xlink:href="#turbulence"
						attributeName="baseFrequency"
						dur="60s"
						keyTimes="0;0.5;1"
						values="0.01 0.02;0.02 0.04;0.01 0.02"
						repeatCount="indefinite"></animate>
				</filter>
			</defs>
		</svg> -->
	</main>

	<style>
	</style>
</Layout>
