---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import BannerTrabajos from "../components/BannerTrabajos.astro";
import ServiciosLanding from "../components/ServiciosLanding.astro";
import Dudas from "../components/Dudas.astro";
import ExtrasLanding from "../components/ExtrasLanding.astro";
---

<Layout title="Uncoder Diseño Web" textoBotonContactoFooter="Si no, vea mis trabajos aca">
	<!-- <main class="main relative z-40 snap-y snap-proximity overflow-auto overflow-x-hidden w-screen h-screen"> -->
	<main class="main relative z-40">
		<section id="hero" class="">
			<Hero />
		</section>
		<section id="banner_trabajos" class="scroll-mt-28 snap-start">
			<BannerTrabajos />
		</section>
		<section id="servicios" class="scroll-mt-28 snap-start">
			<ServiciosLanding />
		</section>
		<section id="preguntas_frecuentes" class="scroll-mt-28 snap-start">
			<Dudas />
		</section>
		<section id="razones_para_tener_una_pagina_web" class="scroll-mt-28 snap-start">
			<ExtrasLanding />
		</section>
	</main>

	<style>
	</style>
</Layout>
