---
import PreciosContent from "../components/PreciosContent.astro";
import Layout from "../layouts/Layout.astro";
---


<Layout
  title="Uncoder Diseño Web"
  textoBotonContactoFooter="Si no, vea mis trabajos aca"
>
  <!-- <main class="main relative z-40 snap-y snap-proximity overflow-auto overflow-x-hidden w-screen h-screen"> -->
  <main class="main relative z-40">
    <section>
      <PreciosContent />
    </section>
  </main>
</Layout>
