---
import TrabajosContenido from "../components/TrabajosContenido.astro";
import Layout from "../layouts/Layout.astro";
---


<Layout
  title="Uncoder Diseño Web"
  textoBotonContactoFooter="Si no, vea los precios"
  mostrarFooterContacto
>
  <!-- <main class="main relative z-40 snap-y snap-proximity overflow-auto overflow-x-hidden w-screen h-screen"> -->
  <main class="main relative z-40">
    <section>
      <TrabajosContenido />
    </section>
  </main>
</Layout>