<div class="container my-20">
  <div class="flex lg:flex-row flex-col gap-10 items-center justify-between">
    <article class="">
      <a href="" class="hover:[&>div>img]:scale-125 hover:[&>div>img]:rotate-6">
        <div class="aspect-square object-cover w-full
        h-auto rounded-2xl mb-2 overflow-hidden bg-gradient-to-tr from-verde to-violeta">
          <img width="700px" height="700" src="img/min_imset_v2.png" alt="" class="transition-transform">
        </div>
        <h2 class="font-bold text-xl">Imset</h2>
        <p class="font-regular text-base">Landing Page para Servicio Tecnico de Notebooks</p>
      </a>
    </article>
    <article class="">
      <a href="" class="hover:[&>div>img]:scale-125 hover:[&>div>img]:rotate-6">
        <div class="aspect-square object-cover w-full
        h-auto rounded-2xl mb-2 overflow-hidden bg-gradient-to-tr from-celeste to-teal-200">
          <img width="700px" height="700" src="img/min_dentista.png" alt="" class="transition-transform">
        </div>
        <h2 class="font-bold text-xl">Full Color</h2>
        <p class="font-regular text-base">Landing Page para Impreta & Grafica</p>
      </a>
    </article>
  </div>
  <a class="mt-10 w-fit block bg-light px-10 py-3 text-dark font-bold rounded-3xl" href="/trabajos">Ver Todos los Trabajos</a>
</div>