<div class="container my-20">
  <div
    class="flex lg:flex-row flex-col sm:gap-10 gap-16 items-center justify-between"
  >
    <article class="">
      <div class="md:hover:[&>div>img]:scale-125 md:hover:[&>div>img]:rotate-6">
        <div
          class="aspect-square object-cover w-full h-auto mb-2 rounded-2xl overflow-hidden bg-gradient-to-tr from-verde to-celeste img_trabajos"
        >
          <img
            width="700px"
            height="700px"
            src="../img/min_imset_v2.webp"
            alt=""
            class="img_trabajos transition-transform"
          />
        </div>
        <div
          class="w-full justify-between flex xl:flex-row lg:flex-col sm:flex-row flex-col gap-5 mt-4"
        >
          <div>
            <h2 class="font-bold text-2xl mb-1">Imset</h2>
            <p class="font-regular text-base">
              Landing Page para Servicio Tecnico de Notebooks
            </p>
          </div>
          <a
            href="https://www.imset.com.ar/"
            rel="external"
            target="_blank"
            class="xl:self-end lg:self-start sm:self-end self-start ring-2 ring-grey-text font-medium text-dark-tenue tracking-wide sm:px-5 py-2 px-4 flex items-center justify-center w-fit rounded-full gap-2 h-fit [&>*]:hover:text-dark-tenue [&>*]:hover:stroke-dark-tenue hover:ring-dark-tenue hover:bg-light"
          >
            <span class="text-grey-light"> Visitar Página</span>
            <svg
              class="h-[15px] stroke-grey-light stroke-[2]"
              width="22"
              height="22"
              viewBox="0 0 22 22"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M9 5H2.33333C1.97971 5 1.64057 5.14048 1.39052 5.39052C1.14048 5.64057 1 5.97971 1 6.33333V19.6667C1 20.0203 1.14048 20.3594 1.39052 20.6095C1.64057 20.8595 1.97971 21 2.33333 21H15.6667C16.0203 21 16.3594 20.8595 16.6095 20.6095C16.8595 20.3594 17 20.0203 17 19.6667V13M9 13L19 3M13 1H21V9"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </a>
        </div>
      </div>
    </article>
    <article class="">
      <div class="md:hover:[&>div>img]:scale-125 md:hover:[&>div>img]:rotate-6">
        <div
          class="aspect-square object-cover w-full h-auto rounded-2xl mb-2 overflow-hidden bg-gradient-to-tr from-celeste to-teal-200 img_trabajos"
        >
          <img
            width="700px"
            height="700px"
            src="../img/min_dentista.webp"
            alt=""
            class="transition-transform scale-105 img_trabajos"
          />
        </div>
        <div
          class="w-full justify-between flex xl:flex-row lg:flex-col sm:flex-row flex-col gap-5 mt-4"
        >
          <div>
            <h2 class="font-bold text-2xl mb-1">Full Color</h2>
            <p class="font-regular text-base">
              Landing Page para Impreta & Grafica
            </p>
          </div>
          <a
            href="https://www.figma.com/community/file/1244357573623602317"
            rel="external"
            target="_blank"
            class="xl:self-end lg:self-start sm:self-end self-start ring-2 ring-grey-text font-medium text-dark-tenue tracking-wide sm:px-5 py-2 px-4 flex items-center justify-center w-fit rounded-full gap-2 h-fit [&>*]:hover:text-dark-tenue [&>*]:hover:stroke-dark-tenue hover:ring-dark-tenue hover:bg-light"
          >
            <span class="text-grey-light"> Visitar Página</span>
            <svg
              class="h-[15px] stroke-grey-light stroke-[2]"
              width="22"
              height="22"
              viewBox="0 0 22 22"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M9 5H2.33333C1.97971 5 1.64057 5.14048 1.39052 5.39052C1.14048 5.64057 1 5.97971 1 6.33333V19.6667C1 20.0203 1.14048 20.3594 1.39052 20.6095C1.64057 20.8595 1.97971 21 2.33333 21H15.6667C16.0203 21 16.3594 20.8595 16.6095 20.6095C16.8595 20.3594 17 20.0203 17 19.6667V13M9 13L19 3M13 1H21V9"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </a>
        </div>
      </div>
    </article>
  </div>
  <div class="pt-20 w-fit">
    <a
    class="bg-light text-lg sm:px-10 px-8 sm:py-4 py-3 text-dark font-bold rounded-3xl"
    href="/trabajos">Ver Todos los Trabajos</a
    >
  </div>
</div>


<style>
  .img_trabajos{
    -webkit-background-clip: padding-box; 
    -moz-background-clip:    padding; 
    background-clip:         padding-box;
    box-sizing: content-box;
  }
  .img_trabajos > img{
    width: 100%;
    box-sizing: padding-box;
  }
</style>