<div class="container h-screen max-h-[1024px] relative hero">
  <div
    class="h-full flex lg:flex-row flex-col lg:justify-between justify-center items-center sm:gap-10 gap-5"
  >
    <h1 class="xl:text-9xl lg:text-8xl md:text-7xl sm:text-6xl text-[3.3rem] font-bold">Diseño Web y Mucho Más</h1>
    <div class="flex flex-col gap-5 lg:w-9/12 md: sm:w-auto">
      <p class="xl:text-2xl md:text-xl sm:text-lg text-base">
        Nos especializamos en Diseñar Experiencias Digitales únicas para que
        nuestro clientes cumplan sus metas de negocios.
      </p>
      <a href="#servicios" class="text-sm flex flex-row gap-1 items-center text-grey-light"
        >Más Info Abajo <svg
          class="w-4"
          width="22"
          height="26"
          viewBox="0 0 22 26"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M8 17.7462L14 23.6538M14 23.6538L20 17.7462M14 23.6538L14 7.40769C14 5.84088 13.3679 4.33823 12.2426 3.23032C11.1174 2.12242 9.5913 1.5 8 1.5C6.4087 1.5 4.88258 2.12242 3.75736 3.23032C2.63214 4.33823 2 5.84088 2 7.40769L2 8.88462"
            class="stroke-grey-light"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </a>
    </div>
  </div>
</div>

<style>

</style>
