<div class="container sm:mt-24 mt-36 mb-36">
  <!-- <h2
    class="xl:text-9xl lg:text-8xl md:text-7xl sm:text-6xl text-[75px] font-bold mb-28"
  >
    Mis Trabajos
  </h2> -->
  <div class="w-max sm:mb-9 mb-16 h-max">
    <h2
      class="2xl:text-[330px] xl:text-[220px] lg:text-[180px] md:text-[150px] sm:text-9xl text-[75px] font-bold text-transparent bg-gradient-to-tr from-celeste via-grey-text to-verde bg-clip-text text-center sm:leading-tight"
    >
      Trabajos
    </h2>
  </div>
  <div class="flex lg:flex-row flex-col gap-10 items-center justify-between">
    <article class="">
      <a href="" class="hover:[&>div>img]:scale-125 hover:[&>div>img]:rotate-6">
        <div class="aspect-square object-cover w-full
        h-auto rounded-2xl mb-2 overflow-hidden bg-gradient-to-tr from-verde to-celeste">
          <img src="img/min_imset_v2.png" alt="" class="transition-transform">
        </div>
        <h2 class="font-bold text-2xl">Imset</h2>
        <p class="font-regular text-base">Landing Page para Servicio Tecnico de Notebooks</p>
      </a>
    </article>
    <article class="">
      <a href="" class="hover:[&>div>img]:scale-125 hover:[&>div>img]:rotate-6">
        <div class="aspect-square object-cover w-full
        h-auto rounded-2xl mb-2 overflow-hidden bg-gradient-to-tr from-celeste to-teal-200">
          <img src="img/min_dentista.png" alt="" class="transition-transform">
        </div>
        <h2 class="font-bold text-2xl">Full Color</h2>
        <p class="font-regular text-base">Landing Page para Impreta & Grafica</p>
      </a>
    </article>
  </div>
</div>